body {
  background-color: #282c34;
  font-size: 18px;
  padding: 100px;
  border: 10px solid floral white;
}

.stories-list-header {
  color: white;
  text-align: center;
}

.app-link {
  font-size: 0.8em;
  color: #96BCD0;
}


