body {
  background-color: #282c34;
  padding: 20px;
  font-size: 18px;
}

.stories-list-header {
  color: white;
  text-align: center;
}

.link-box {
  margin: 15px;
}

.link:hover {
  background-color: white;
  border: 5px solid #163F9E;
}

.link {
  font-size: 0.8em;
  padding: 5px;
  color: #96BCD0;
}




